nav{
  position: absolute;
}

.main-bg{
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 280px;
  padding: 100px 20px;
  background: lightgray;
}

.flex{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.open{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 5px;
  width: 78px;
  height: 38px;
  border:none
}

.open:focus{
  outline: 4px solid #dc35466c;
}

.black-bg {
  transition: all 1s;
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  /* display: none; //모두 없어짐 */
  visibility: hidden; /*모습 감춤*/
  opacity: 0; /*투명 */
}

.show-modal{
  visibility: visible;
  animation: fadeinDown 1s;
  opacity: 1;
}

h4{
  margin-bottom: 1.2rem!important;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 40px;
} 

.list{
  display: none;
}

