:root { scroll-behavior : auto } 

.navbar{
  position: fixed!important;
  width: 100%;
  z-index: 5;
}

.brand{
  font-size: 25px;
  color: #000;
}

.go{
  height: 3px; 
  background: #000;
  position:absolute;
  bottom: -3%;
}

.main-bg{
  position: relative;
  width: 100%;
  height: 300px;
  padding: 100px 20px;
  background: rgba(211, 211, 211, 0.877);
}

.flex{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.open{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 5px;
  width: 78px;
  height: 38px;
  border:none
}

.open:focus{
  outline: 4px solid #dc35466c;
}

.black-bg {
  transition: all 1s;
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  /* display: none; //모두 없어짐 */
  visibility: hidden; /*모습 감춤*/
  opacity: 0; /*투명 */
}

.show-modal{
  visibility: visible;
  animation: fadeinDown 1s;
  opacity: 1;
}

h4{
  margin-bottom: 1.2rem!important;
}
.white-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  background: white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 40px;
  width: 700px;
} 

.list{
  display: none;
}

.dark{
  background: #000;
  color: #fff;
}

.alert{
  margin-bottom: 0px!important;
}

.slide{
  overflow: hidden;
}

.slide-container{
  width:300vw;
  transition: all 1.5s;
}

.slide-box{
  width: 100vw;
  float: left;
}

.slide-box img{
  width: 100%;
}

.lorem{
  margin: 30px 10px;
}